*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    text-decoration: none;
    
}

/* for mobile verison */

@media(max-width:565px) {
        .navbar{
    height: auto ;
    min-height: 60px;
    background-color:#415d43;
    color: white;
    display: block;
    padding: 10px;
        }
}

/* box1 */


.nav-logo{
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
}

.logo {
    background-image: url(logo.JPG);
    background-size: cover;
    height: 50px;
    width: 100%;
    border-radius: 50%;
}

.border{
    border: 1.5px solid transparent;
    
    
}

.border:hover {
    border: 1.5px solid white;
}

.nav-home,
.nav-about,
.nav-contact,
.nav-cart, 
.nav-report{
    color: white;
    font-size: 1.2rem;
    margin: 5px 0;
    padding: 5px 10px;
}


/* box2 */
.nav-search {
    display:flex;
    justify-content: space-evenly ;
    background-color: pink;
    width: 100%;
    max-width: 620px;
    height: 40px;
    border-radius: 4px;
    margin: 10px 0;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 0 10px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #d1d9f3;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
} 
.nav-search:hover{
    border: 2px solid orange;

}


/* box6 */
.nav-cart i{
    font-size: 24px;
}
.nav-cart{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}



/* hero-section */
.hero-section{
    background-image: url("hero.JPG");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

    .hero-message{
        background-color:white ;
        color: #007185;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        width:90%;
        margin-bottom: 25px;
        padding: 0 10px;
    }
    
    

    /* shop section */

   .shop-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background-color: #07484B;
    padding: 10px;
    
}


    .box{
        
        height: 400px;
        background-color: white;
        padding: 20px 0px 15px;
    }

    .box-img1,
    .box-img2,
    .box-img3,
    .box-img4 {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-position: center;
}
    

    .box-img1{
        background-image: url("1st.JPG");
        
    }

    .box-content{
        margin-left: 10px;
        margin-right: 10px;
    }
    .box-content p{
        color: #007185;
    }
    .box-img2{
        background-image: url("2nd\ edited.JPG");
        
    }
    .box-img3{
        background-image: url("3rd.JPG");
        
    }
    .box-img4{
        background-image: url("4th.JPG");
        
    }

    /* Footer */

    footer{
        margin-top: 15px;

    }

    .foot-panel1{
        background-color: #37475a;
        color: white;
        height: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
    }

    
    
    ul a {
        display: block ;
        font-size: 0.85rem;
        margin-top: 10px;
        color:#dddddd;
    }

    .foot-panel2{
        background-color: #222f3d;
        color: white;
        border-top: 0.5px solid white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        background-image: url(logo.JPG);
    background-size: cover;
    height: 50px;
    width: 100px;
    }

    .foot-panel3{
        background-color:#415d43;
        color: white;
        padding: 20px 0;
        font-size: 0.7rem;
        text-align: center;
        
    } 
    
    /* for tablets version */
    @media(min-width:566px) {
        .navbar {
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        padding: 0 20px;
        display: flex;
        /* now we can see the address logo comes in the same line coz all the boxes comes in the same line and  by default it is arow line so left to right is a main axis, concept from flex box  */
        align-items: center;
        background-color:#415d43;
        align-items: center;
    }
    
    .nav-logo {
        margin-bottom: 0;
    }
    
    .nav-home,
    .nav-about,
    .nav-contact,
    .nav-cart,
    .nav-report {
        margin: 0;
    }
    
    .nav-search {
        width: 40%;
        margin: 0;
    }
    
    .hero-section {
        height: 350px;
    }
    
    .hero-message {
        width: 50%;
    }
    
    .shop-section {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .foot-panel2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop versions */
@media (min-width: 1024px) {
    .navbar {
        justify-content: space-evenly;
    }
    
    .nav-search {
        width: 620px;
    }
    
    .shop-section {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .foot-panel2 {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Large Desktop versions */
@media (min-width: 1200px) {
    .hero-message {
        width: 30%;
    }
}





.navbar a,
.navbar a:visited,
.navbar a:hover,
.navbar a:active {
  color: whitesmoke !important;        /* the color of menu is not changing so took help from chatgpt for this */
}


    
/* css animation */

.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 20px solid blue;
    border-top: 20px solid black;
    animation: spinAnimate 3s ease-in 0s infinite normal;
    }
@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

